<div>
    <div class="row">
        <h5 class="title">CHOISIR LA MÉTHODE DE CRÉATION D'UN BL</h5>
    </div>
    <div class="d-flex justify-content-center row">
        <div class="col-md-3">
            <mat-card>
                <mat-card-title>
                    <h5>Nouveau Bon de Livraison (BL)</h5>
                </mat-card-title>
                <mat-card-actions><button routerLink="Nouveau-BL" mat-button class="btn add-bl"> Nouveau
                        BL</button></mat-card-actions>
            </mat-card>
        </div>
        <div class="col-md-3">
            <mat-card>
                <mat-card-title>
                    <h5> Générer un BL à partir d'un devis</h5>
                </mat-card-title>
                <mat-card-actions><button routerLink="Devis-BL" mat-button class="btn add-bl">
                        Devis-BL</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>